noscript {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
    font-size: 5vw;

    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (orientation: landscape) {
    noscript {
        font-size: 1.85vw;
    }
}

noscript a {
    color: white;
    text-decoration: none;
}

noscript a:hover {
    color: red;
}