// Variables //
$text-color: #ba1f33;

// Mixins //
// Randomly forward offset the animation for child nodes.
@mixin staggered-delay{
    @for $i from 0 through 3 {
        // > selects only direct children. Otherwise nth-child would run recursively.
        > :nth-child(#{$i}) {
            animation: .30s linear #{$i * .2}s 1 pageload-opacity;
            animation-fill-mode: both;
        }
    }
}

// Animations //
@keyframes pageload-opacity {
    0%,
    30%,
    36%,
    63%,
    69%,
    99%{
        opacity: 0;
    }
    33%,
    66%,
    100% {
        opacity: 1;

    }
}

// BabylonJS scene view layering fix.
#scene-explorer-host {
    z-index: 1;
}

#root {
    @include staggered-delay;
}

#title {
    color: $text-color;
    text-shadow: 0px 0px 5px $text-color,
                0px 0px 5px black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 70px;
    text-align: center;
    user-select: none;
    margin: 0px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#about {
    display: none;
    color: #ba1f33;
    font-family: 'Open Sans', sans-serif;
    a {
        color: $text-color;
        text-decoration: none;
        &:hover {
            color: white;
        }
    }
}