#root {
    // Cyberpunk Flicker Animation //
    @keyframes pageload-opacity {
        0%,
        30%,
        36%,
        63%,
        69%,
        99%{
            opacity: 0;
        }
        33%,
        66%,
        100% {
            opacity: 1;

        }
    }

    // Stagger pageload animations for a more organic feel.
    @for $i from 2 through 4 {
        // > selects only direct children. Otherwise nth-child would run recursively.
        > :nth-last-child(#{$i}) {
            animation: .30s linear #{$i * .25}s 1 pageload-opacity;
            animation-fill-mode: both;
        }
    }
}