#root {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    // // Cyberpunk Flicker Animation //
    // @keyframes pageload-opacity {
    //     0%,
    //     30%,
    //     36%,
    //     63%,
    //     69%,
    //     99%{
    //         opacity: 0;
    //     }
    //     33%,
    //     66%,
    //     100% {
    //         opacity: 1;
    //     }
    // }

    // // Stagger pageload animations for a more organic feel.
    // @for $i from 2 through 4 {
    //     // > selects only direct children. Otherwise nth-child would run recursively.
    //     > :nth-last-child(#{$i}) {
    //         animation: .30s linear #{$i * .25}s 1 pageload-opacity;
    //         animation-fill-mode: both;
    //     }
    // }
}

#content {
    height: 100vh;
    width: 1000px;
    min-width: 50vw;
    max-width: 100vw;
    position: relative;

    background-color: rgba(#ffffff, 0.75);
    backdrop-filter: blur(5px);

    #name {
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        margin: 0;
        
        //Font
        font-family: 'Tomorrow', sans-serif;
        color: black;
        font-weight: 100;
        font-size: 70px;
        letter-spacing: 5px;
        text-align: center;
    }
}
