$text-color: #ba1f33;

#visualizer {
    z-index: -10;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

#media-buttons {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    flex-wrap: wrap;
    position: fixed;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, -50%);
    
    outline: 0;
    user-select: none;
    
    // Song information. 
    #info {
        color: $text-color;
        font-family: sans-serif;
        font-size: 20px;
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    #toggle-music {
        fill: $text-color;
        background-color: transparent;

        width: 30%;
        height: 50px;

        transition: ease-in-out;
        transition-duration: .25s;

        &:hover {
            fill: white;
        }
    }
}